<div class="container">
    <div>
        <form [formGroup]="signupForm" class="form-signup" (ngSubmit)="onSubmit()">
            <h1 class="h3 mb-3 font-weight-normal">Please sign up.</h1>

            <label for="inputFirstname" class="sr-only">First name</label>
            <input type="text" id="inputFirstname" class="form-control" placeholder="First name" formControlName="firstName">                
            <div class="alert alert-danger" role="alert" *ngIf="invalidFormControlValue('firstName')">first name required</div>
            
            <label for="inputLastName" class="sr-only">Last name</label>
            <input type="text" id="inputLastName" class="form-control" placeholder="Last Name" formControlName="lastName">
            <div class="alert alert-danger" role="alert" *ngIf="invalidFormControlValue('lastName')">last name required</div>

            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" formControlName="email">
            <div class="alert alert-danger" role="alert" *ngIf="invalidFormControlValue('email')">valid e-mail required</div>

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password">
            <div *ngIf="invalidFormControlValue('password')">
                <div *ngIf="formControlErrors('password').illegalPasswordFormat" class="alert alert-danger" role="alert">Password should be a minimum of eight characters and should contain lower and uppercase letters</div>
                <div *ngIf="formControlErrors('password').illegalFirstNameMatch" class="alert alert-danger" role="alert">Password should not contain a users first name</div>
                <div *ngIf="formControlErrors('password').illegalLastNameMatch" class="alert alert-danger" role="alert">Password should not contain a users last name</div>
                <div *ngIf="formControlErrors('password').required" class="alert alert-danger" role="alert">Password required</div>
            </div>
            
            <button class="btn btn-lg btn-primary btn-block mb-2" type="submit" [disabled]="!signupForm.valid || isSubmitting">Sign up</button>
          
            <div *ngIf="submitted && submitResultFail" class="alert alert-danger alert-dismissible" role="alert">
              <button class="close" aria-label="close" (click)="onDismissAlert()">&times;</button>
              <span id="alertMsgFail">Something went wrong, please try again.</span>
            </div>
  
            <div *ngIf="submitted && submitResultSuccess" class="alert alert-success alert-dismissible" role="alert">
              <button class="close" aria-label="close" (click)="onDismissAlert()">&times;</button>
              <span id="alertMsgSuccess">Sign-up completed.</span>
            </div>
          
          </form>
    </div>
</div>
